*,* before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    font-family: "Inter", sans-serif;
}
a {
    color: #333; text-decoration: none;
}
a:hover {
    color: #007BFF;
}
p {
    line-height: 1.5;
}
header {
    background-color: #1a2e5a;
    color: #fff;
    padding: 16px 32px;
}
header h1 {
    font-size: 2rem;
}
header nav {
    margin-top: 8px;
}
header nav a {
    color: #fff;
    margin-left: 16px;
    text-decoration: none;
}
header nav a:hover {
    color: white;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 32px 16px;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    padding: 16px;
    flex: 1;
    min-width: 250px;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #1a2e5a;
    color: #fff;
    text-align: center;
    padding: 16px 32px;
    margin-top: 32px;
}
.highlight {
    background-color: #ffeb3b;
    padding: 4px 8px;
    border-radius: 4px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2e5a;
    padding: 8px 16px;
}
.nav-links {
    display: flex;
    gap: 16px;
}
.nav-links a:hover {
    color: white;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30px;
    background-color: #c56666;
    color: #fff;
    text-align: center;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}
.btn-primary {
    display: inline-block;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    color:navy;
    font-weight: 600;
}
.page-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
.sidebar {
    background-color: #db8a8a;
    padding: 16px;
    border-radius: 8px;
    align-self: start;
    display: none;
}
@media (min-width: 768px) {
    body {
        font-size: 16px; 
    }
    
    .card-grid {
        grid-template-columns: 180px 1fr;
        padding: 20px
    }
    .sidebar {
        display: block;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .card-grid {
        grid-template-columns: 240px 1fr;
    }
    .skills-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
.gird {
    grid-template-areas: 
        "sidebar main"
}
@media (orientation: portrait) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}
